section.section-contact

  h2#Details Contact Details

  hr.bar

  div.social-links
    a(href='https://www.facebook.com/')
      div(class="glyph-icon flaticon-facebook3")
    a(href='https://ie.linkedin.com')
      div(class="glyph-icon flaticon-linkedin")
    a(href='https://github.com/bawn92')
      div(class="glyph-icon flaticon-github")
    a(href='https://www.youtube.com')
      div(class="glyph-icon flaticon-youtube31")

  hr.bar

  a( class='biglink' href='mailto:example@gmail.com') example@gmail.com
