footer
  div.lockup

    div.content-wrap
      nav
        a(href='#about-me') About Me
        a(href='#Experenice') Experience
        a(href='#Blog') Blog
        a(href='#Details') Contact Me


      p.copyright Gearoid O'Connor 2015
