.history
  .cd-timeline-header
    h2#Experenice Experience
    hr.bar

  section#cd-timeline.cd-container
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/college.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2.story-heading NUI Computer Science
          P
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.

          span.cd-date 2010-2014
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-movie
          img(src="../assets/img/idea14.svg", alt="College")
        // cd-timeline-img
        .cd-timeline-content
          h2 Enterprise Competition Runner-up
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.
          span.cd-date April 2014
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-picture
          img(src="../assets/img/web-programming.svg", alt="Picture")
        // cd-timeline-img
        .cd-timeline-content
          h2 Software Developer
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.

          span.cd-date May 2013 - September 2014
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/graduate38.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Computer Science School
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.

          span.cd-date Sept 2014 - Sept 2015
        // cd-timeline-content
        // cd-timeline-block
      .cd-timeline-block
        .cd-timeline-img.cd-location
          img(src="../assets/img/hosting.svg", alt="Location")
        // cd-timeline-img
        .cd-timeline-content
          h2 Integration Engineer with Example
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget libero vel turpis eleifend convallis vel vitae est. Suspendisse mattis ut nulla dapibus ultricies. Suspendisse feugiat felis mi, sit amet pharetra massa volutpat sit amet. Morbi gravida, libero sit amet lacinia tristique.

          span.cd-date May 2015 - Current
        // cd-timeline-content
        // cd-timeline-block
        .cd-timeline-block
          .cd-timeline-img.cd-location
            img(src="../assets/img/question30.svg", alt="Location")
        // cd-timeline

  .cd-timeline-header
    h2
