section
  h2#Contact Contact Me
  hr.bar

  form(method="post" action="//formspree.io/example@gmail.com")
    .contact-info-group
      label
        span Your Name
        input(type="text" name="name")
      label
        span Your Email
        input(type="email" name="_replyto")
    label
      span Message
      textarea(name="Message")
      .submit-wrap
        input(type="submit" value="Send")
