section.alt-section
  h2#work Work

  div.thumb-container

    a(href="" class="thumb-unit")
      div.tumb-overlay

        strong  Typo
        div.zoom-icon
    a(href="" class="thumb-unit")
      div.tumb-overlay

        strong  Typo
        div.zoom-icon
    a(href="" class="thumb-unit")
      div.tumb-overlay

        strong  Typo
        div.zoom-icon
    a(href="" class="thumb-unit")
      div.tumb-overlay

        strong  Typo
        div.zoom-icon
    a(href="" class="thumb-unit")
      div.tumb-overlay

        strong  Typo
        div.zoom-icon
