---
layout: default
---

{% include header.html %}

{% include about.html %}

{% include history.html %}

<h2 id="Blog"> Blog </h2>
<hr class="bar-blog"> </hr>
{% for post in site.categories['blog'] limit:3%}

    <div class="post-header title">
      <a href="{{post.url}}"><h1 class="post-title">{{ post.title }}</h1></a>
    </div>
    <div class="post-header date">
      <p class="post-meta">{{ post.date | date: "%B %-d, %Y — %H:%M" }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</p>
    </div>

{% endfor %}
<hr class="bar-blog"> </hr>

<h2 id="Blog"><a href="/posts"> More >> </a></h2>



{% include contact.html %}

{% include message.html %}
