---
layout: default
comments: true
---

{% include header_small.html %}


<script type="text/javascript">
			// needs to be a string for jquery.cookie
			var postId = '1';
			$(function()
			{
				// initialize kudos
				$("figure.kudoable").kudoable();
				// check to see if user has already kudod
				// fyi cookies do not work when you are viewing this as a file
				if($.cookie(postId) == 'true') {
					// make kudo already kudod
					$("figure.kudoable").removeClass("animate").addClass("complete");
					// your server would take care of the proper kudos count, but because this is a
					// static page, we need to set it here so it doesn't become -1 when you remove
					// the kudos after a reload
					$(".num").html(1);
				}
				// when kudoing
				$("figure.kudo").bind("kudo:active", function(e)
				{
					console.log("kudoing active");
				});
				// when not kudoing
				$("figure.kudo").bind("kudo:inactive", function(e)
				{
					console.log("kudoing inactive");
				});
				// after kudo'd
				$("figure.kudo").bind("kudo:added", function(e)
				{
					var element = $(this);
					// ajax'y stuff or whatever you want
					console.log("Kodo'd:", element.data('id'), ":)");
					// set cookie so user cannot kudo again for 7 days
					$.cookie(postId, 'true', { expires: 7 });
				});
				// after removing a kudo
				$("figure.kudo").bind("kudo:removed", function(e)
				{
					var element = $(this);
					// ajax'y stuff or whatever you want
					console.log("Un-Kudo'd:", element.data('id'), ":(");
					// remove cookie
					$.removeCookie(postId);
				});
			});
		</script>



<div class="post-header">
  <h1 class="post-title">{{ page.title }}</h1>
</div>
<div class="post-header">
  <p class="post-meta">{{ page.date | date: "%B %-d, %Y — %H:%M" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
</div>

<div class="post-wrapper">



  <article class="post-content">
    <div class = "blurb-blog">
    {{ content }}
   </div>
  </article>


</div>
<div class="comment">
  {% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
  /**
  * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
  */
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');

  s.src = '//bawn92.disqus.com/embed.js';

  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  <script id="dsq-count-scr" src="//bawn92.disqus.com/count.js" async></script>



  {% endif %}
  </div>
